<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/" class="navbar-brand">TODO App</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active" *ngIf="isAuthenticated">
                    <a routerLink="/users">Users List</a>
                </li>
                <li routerLinkActive="active" *ngIf="isAuthenticated">
                    <a routerLink="/todos">ToDo List</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li routerLinkActive="active" *ngIf="!isAuthenticated">
                    <a [routerLink]="[ '/login']">Login</a>
                </li>
                <li routerLinkActive="active" *ngIf="!isAuthenticated">
                    <a [routerLink]="[ '/signup']">SignUp</a>
                </li>
                <li style="cursor: pointer" *ngIf="isAuthenticated">
                    <a [routerLink]="['/users/edit-profile']">
                        <img id="userProfilePic" [src]="userData.hasOwnProperty('image') ? userData.image : ''"
                            class="rounded-circle img-thumbnail" alt="Profile Image"> welcome,

                        <span id="loggedInUserName">
                            {{ userData.firstName + ' ' + userData.lastName }}
                        </span>
                    </a>
                </li>
                <li style="cursor: pointer" *ngIf="isAuthenticated">
                    <a (click)="onLogout()">Logout</a>
                </li>
                <li>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item [routerLink]="['/users/edit-profile']">
                            <mat-icon>description</mat-icon>
                            <span>Edit Profile</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>settings</mat-icon>
                            <span>Setting</span>
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </div>
</nav>