<div class="col-md-11">
  <div class="col-md-1">
    <section class="checkbox-section todo-item">
      <mat-checkbox class="checkbox-margin" (change)="multiTodoSelect(todo.id)"></mat-checkbox>
    </section>
  </div>
  <div class="col-md-11">
    <a style="cursor: pointer;" class="todo-item" [routerLink]="[todo.id]" routerLinkActive="active"
      class="list-group-item clearfix">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{ todo.title }}</h4>
        <p class="list-group-item-text">{{ todo.todoDate | date }}</p>
      </div>
    </a>
  </div>
</div>
<div class="col-md-1">
  <span class="pull-left">
    <!-- <img
        [src]="todo.attached"
        alt="{{ todo.title }}"
        class="img-responsive"
        style="max-height: 50px;"> -->
    <mat-icon class="delete-icon" (click)="onDeleteTodo()">delete_outline</mat-icon>
  </span>
</div>