<div class="container">
        <div class="row">        
            <div class="col-xs-6 col-md-6 col-md-offset-3 app-form">
                    <h2>Login</h2>
                    <div class="alert alert-danger" *ngIf="formError">
                        <p>An error occurred!</p>
                    </div>
                    <div class="alert alert-success" *ngIf="userLogin">
                        User login successfully!
                    </div>
                    <form class="example-container" [formGroup]="loginForm" (ngSubmit)="onLogin()">
                        <mat-form-field style="width: 100%">
                            <input matInput placeholder="Email" id="email" formControlName="email" >                          
                        </mat-form-field>
                        <mat-form-field style="width: 100%">
                                <input type="password" formControlName="password" matInput id="password" placeholder="Password">
                        </mat-form-field>
                        <br>
                        <button type="submit" [disabled]="!loginForm.valid"  class="btn btn-primary"  mat-button>Login</button> | 
                        <button class="btn btn-primary" type="button" (click)="onClear()"  mat-button>Clear</button>
                </form>
            </div>
        </div>
    </div>