/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle , .mat-radio-outer-circle {
    border-color: #4B0082 !important;
  }
  
  .mat-radio-button.mat-accent .mat-radio-inner-circle{
    background-color: #4B0082 !important;
  }
  .mat-radio-button {
      padding: 16px;
  }
  .mat-checkbox-checked {
    color: #673ab7;
  }
  
  .btn-primary , .btn-primary:active, .btn-primary:focus, .btn-primary:focus, .btn-primary:hover,
   .open > .dropdown-toggle.btn-primary{
    background-color: #673ab7;
    border-color: #673ab7;
  }
